.Header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Assurez-vous que le z-index est élevé pour que le header soit au-dessus du contenu */
}